<div class="container">
  <div class="row">
    <div class="twelve columns" style="margin-top: 20%;text-align:center;">
      <img src="/images/note-64.png" />
      <h1>PickTun.es</h1>
      <p>Play "Name That Tune" with strangers in a highly competitive music guessing game.</p>
      <form method="post">
        <input size="30" type="text" maxlength="20" placeholder="Pick a Name" name="user" value="<%=session[:user]%>" required>
	<select style="width:250px" name="genre" required>
          <option disabled selected value="">Pick a Genre</option>
          <% settings.genres.each do |id,genre| %>
                    <option value="<%=id%>"><%=genre%></option>
          <% end %>
        </select>
        <input class="button-primary" type="submit" value="Let's Play!">
      </form>
      <p><a href="/scoreboard">See the scoreboard.</a></p>
      <div class="fb-share-button" data-href="http://picktun.es" data-layout="button_count"></div>
    </div>
  </div>
</div>

