<div class="container" style="margin-top:5%">
  <div class="row">
    <div class="col l12 s12 center-align">
      <img src="/images/note-64.png" alt="PickTun.es" /><br />
      <h1 style="margin:0;letter-spacing:-3px;">PickTun.es</h1>
      <p class="flow-text">Play "Name That Tune" with strangers in a highly competitive music guessing game.</p>
    </div>
  </div>
</div>
<div class="row random_color lighten-5 valign-wrapper z-depth-2" style="height:200px">
    <div class="container">
	<form method="post" class="col m12 s12" id="startForm">
		<div class="row">
		<div class="input-field col s12 m4">
			<input id="user" size="30" type="text" class="validate" maxlength="20" minlength="1" name="user" value="<%=@saved_name%>" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
			<label class="active" for="user">Pick a Name</label>
			<span class="helper-text red-text" id="userError" style="display:none;">Please enter your name</span>
		</div>
			<div class="input-field col s12 m4">
				<select name="genre" id="genre">
					<option disabled selected value="">Pick a Genre</option>
					<% settings.genres.each do |id,genre| %>
					      <option value="<%=id%>"><%=genre%></option>
					<% end %>
				</select>
				<span class="helper-text red-text" id="genreError" style="display:none;">Please select a genre</span>
			</div>
			<div class="input-field col s12 m4 center-align">
				<button id="playButton" class="btn waves-effect waves-light" type="submit" name="action">Let's Play</button>
			</div>
		</div>
	</form>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <p class="flow-text"><a href="/scoreboard">See the scoreboard.</a></p>
      <div class="fb-share-button" data-href="http://picktun.es" data-layout="button_count"></div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
    M.FormSelect.init(document.querySelectorAll('select'));
    $('.random_color').addClass(Colors.getRandom());
    
    // Form validation
    $('#startForm').on('submit', function(e) {
        var isValid = true;
        
        // Validate name
        var userName = $('#user').val().trim();
        if (!userName || userName === '') {
            $('#userError').show();
            isValid = false;
        } else {
            $('#userError').hide();
        }
        
        // Validate genre
        var genre = $('#genre').val();
        if (!genre || genre === '') {
            $('#genreError').show();
            isValid = false;
        } else {
            $('#genreError').hide();
        }
        
        if (!isValid) {
            e.preventDefault();
            return false;
        }
    });
    
    // Hide error messages on input change
    $('#user').on('input', function() {
        if ($(this).val().trim() !== '') {
            $('#userError').hide();
        }
    });
    
    $('#genre').on('change', function() {
        if ($(this).val()) {
            $('#genreError').hide();
        }
    });
});
</script>