<div class="home-hero">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <img src="/images/note-64.png" alt="PickTun.es" />
        <h1 class="title">PickTun.es</h1>
        <p class="tagline">Name That Tune in a Highly Competitive Music Guessing Game</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="name-input-container">
          <div class="input-field">
            <input id="user" type="text" class="validate name-input" maxlength="20" minlength="1" value="<%=@saved_name%>" placeholder="Enter Your Name" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
            <span class="helper-text red-text" id="userError" style="display:none;">Please enter your name</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="genre-section">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h4 class="genre-heading">Choose Your Genre</h4>
      </div>
    </div>
    
    <div class="row genre-grid">
      <% settings.genres.each do |id, genre| %>
        <div class="col s6 m4 l3">
          <div class="genre-card waves-effect" data-genre-id="<%=id%>" data-genre-name="<%=genre%>">
            <div class="genre-overlay">
              <h5 class="genre-name"><%=genre%></h5>
              <i class="material-icons">play_arrow</i>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    
    <div class="row">
      <div class="col s12 center-align" style="margin-top: 40px;">
        <a href="/scoreboard" class="btn-flat waves-effect">View Scoreboard</a>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
    // Genre card click handler
    $('.genre-card').on('click', function() {
        var userName = $('#user').val().trim();
        var genreId = $(this).data('genre-id');
        var genreName = $(this).data('genre-name');
        
        // Validate name
        if (!userName || userName === '') {
            $('#userError').show();
            M.toast({html: 'Please enter your name first!', displayLength: 3000, classes: 'red'});
            $('#user').focus();
            return false;
        }
        
        $('#userError').hide();
        
        // Show loading state
        $(this).find('.genre-overlay').html('<div class="preloader-wrapper small active"><div class="spinner-layer spinner-white-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div>');
        
        // Submit to server
        $.post('/', { user: userName, genre: genreId })
            .done(function(response) {
                // Wait a moment to ensure session is saved
                setTimeout(function() {
                    window.location.href = '/play';
                }, 100);
            })
            .fail(function(xhr) {
                var errorMsg = 'Error starting game. Please try again.';
                if (xhr.responseJSON && xhr.responseJSON.error) {
                    errorMsg = xhr.responseJSON.error;
                }
                M.toast({html: errorMsg, displayLength: 3000, classes: 'red'});
                location.reload();
            });
    });
    
    // Hide error on input
    $('#user').on('input', function() {
        if ($(this).val().trim() !== '') {
            $('#userError').hide();
        }
    });
});
</script>