<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>picktun.es</title>
  <meta name="description" content="Play Name That Tune with strangers in a highly competitive music guessing game.">
  <meta name="author" content="Jason Hines">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="http://picktun.es" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="picktun.es" />
  <meta property="og:description" content="Play Name That Tune with strangers in a highly competitive music guessing game." />
  <meta property="og:image" content="http://picktun.es/images/note-64.png" />
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.tmpl.js"></script>
  <script src="js/application.js"></script>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/application.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
</head>
<body>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1667972823529106',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<%=yield%>	

</body>
</html>
