<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Name That Tune Game - PickTun.es</title>
  <meta name="description" content="Play Name That Tune with strangers in a highly competitive music guessing game.">
  <meta name="keywords" content="name that tune game, name that song game, name the song quiz, name that tune quiz, guess the song, song quiz, music quiz, name the song quiz, music quiz, tune quiz game, music guessing game, music guessing, guess the song, tunes, pick tunes, music">
  <meta name="author" content="Openface">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="http://picktun.es" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="PickTun.es" />
  <meta property="og:description" content="Play Name That Tune with strangers in a highly competitive music guessing game." />
  <meta property="og:image" content="http://picktun.es/images/note-256.png" />

  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.tmpl.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script src="js/application.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" href="css/application.css" type="text/css">
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
</head>
<body>

<script>
  var isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i);
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    }
  };

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1667972823529106',
      xfbml      : true,
      version    : 'v2.7'
    });
    FB.AppEvents.logPageView();
    $(document).trigger('fbload');
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

</script>

<%=yield%>	

</body>
</html>
