<div class="container">
  <div class="row">
      <div class="u-full-width" id="message">&#9836; <span></span> &#9835;</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="twelve columns" style="margin-top: 10%">
      <div style="text-align:center;margin-bottom:50px;">
        <h2>Name That Tune in <span id="counter">20</span> Seconds!</h2>
      </div>
      <div class="u-pull-left">
	<h1>Round <span id="round">1</span></h1>
      </div>
      <div class="u-pull-right">
      	<h1>Score <span id="score">0</span></h1>
      </div>
      <br class="u-cf" />

      <script id="songsTemplate" type="text/x-jquery-tmpl">
        <div class="song">
          <a class="u-full-width" data-id="${id}">
            <img src="${image}" width="60" height="60" />
            <h5>${name}</h5>
            ${artist}
            <br class="u-cf" />
          </a>
        </div>
      </script>
      <div id="songsList"></div>

    </div>
  </div>
</div>

<script>
$(function() {
	Game.songs = <%=@songs.shuffle.to_json%>;
	Game.startRound();
});
</script>
