li.song:hover {
	cursor:pointer;
}
.collection .collection-item.avatar {
	min-height:100%;
}
.song {
	height:60px;
}
.song .artist {
	display:none;
}
#counter {
	font-size:24px;
	font-weight:bold;
}
.nearzero {
	color: red;
}
#round {
	font-size:48px;
}
#score {
	font-size:48px;
}
