li.song:hover {
	cursor:pointer;
}
.collection .collection-item.avatar {
	min-height:100%;
}
.scores {
	display:flex;
	flex-wrap:wrap;
	align-items: flex-start;
	justify-content:center;
}
.scores .card {
	margin:4px;
}
.scores h5 .stats {
	font-size:14px;
}
#counter {
	font-size:24px;
	font-weight:bold;
}
.nearzero {
	color: red;
}
#round {
	font-size:32px;
}
#score {
	font-size:32px;
}
